<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Edit Profile</h1>
            </div>
        </div>
    </div>
</div>
<div class="section" ng-controller="EditProfileCtrl as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="basic-login">
                    <form name="signup_form" role="form" novalidate ng-submit="ctrl.updateUserInfo()">
                        <div class="form-group">
                            <div  class="author-photo  container text-center">
                                <div class = "circular col-md-2" style = 'background-image: url(resources/img/profile/user3.jpg)'></div>
                                <div class = "container col-md-4">
                                    <h1 ng-bind="ctrl.user.firstname + ' ' +ctrl.user.lastname"></h1>
                                    <h3 ng-bind="ctrl.user.email"></h3>
                                </div>
                                <div class="container col-md-4"></div>
                            </div>
                            <div class="btn btn-sm pull-left" style="margin: 15px">Change Picture</div>
                            <br><br><br>
                            <div class="form-group">
                                <label for="register-fname"><i class="icon-user"></i> <b>First Name</b></label>
                                <input class="form-control" name ="fname" id="register-fname" ng-model="ctrl.fname" ng-maxlength=30 ng-minlength=3 type="text">
                                <div class="error" style="color: red"
                                     ng-show="signup_form.fname.$dirty && signup_form.fname.$invalid">
                                    <small class="error" style="color: red"
                                           ng-show="signup_form.fname.$error.required">
                                        Your name is required.
                                    </small>
                                    <small class="error" style="color: red"
                                           ng-show="signup_form.fname.$error.maxlength">
                                        Your name cannot be longer than 30 characters
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register-lname"><i class="icon-user"></i> <b>Last Name</b></label>
                                <input class="form-control" name ="lname" id="register-lname"  ng-model="ctrl.lname" ng-maxlength=30 ng-minlength=3 type="text" required>
                                <div class="error" style="color: red"
                                     ng-show="signup_form.lname.$dirty && signup_form.lname.$invalid">
                                    <small class="error" style="color: red"
                                           ng-show="signup_form.lname.$error.required">
                                        Your last name is required.
                                    </small>
                                    <small class="error" style="color: red"
                                           ng-show="signup_form.lname.$error.maxlength">
                                        Your last name cannot be longer than 30 characters
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="register-email"><i class="icon-user"></i> <b>Email</b></label>
                                <input class="form-control" name="email" id="register-email" ng-model="ctrl.email" ng-maxlength=20 ng-minlength=3 required type="email">
                                <div class="error-container"
                                     ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
                                    <small class="error " style="color: red"
                                           ng-show="signup_form.email.$error.required">
                                        Your email is required.
                                    </small>
                                    <small class="error" style="color: red"
                                           ng-show="signup_form.email.$error.minlength">
                                        Your email is required to be at least 3 characters
                                    </small>
                                    <small class="error" style="color: red"
                                           ng-show="signup_form.email.$error.email">
                                        That is not a valid email. Please input a valid email.
                                    </small>
                                    <small class="error" style="color: red"
                                           ng-show="signup_form.email.$error.maxlength">
                                        Your email cannot be longer than 20 characters
                                    </small>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" ng-disabled="signup_form.$invalid" class="btn pull-right">Submit</button>
                                <div class="clearfix"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="container col-lg-12 text-center">
                                    <button class="btn btn-sm center-block" ng-click = "ctrl.toggleShowHistory()" ng-bind="ctrl.historyBtnName"></button>
                                </div>
                            </div>
                            <div class="container center-block col-lg-12">
                                <div class="container col-lg-12 text-center" ng-show = "ctrl.showingHistory">
                                    <!--<div class="app-btn app-blue center-block">-->
                                        <br>
                                        <form name="change_password_form" role="form" novalidate>
                                            <div class="form-group">
                                                <label for="edit-password"><i class="icon-lock"></i> <b>Old Password</b></label>
                                                <input class="form-control text-center" ng-model="ctrl.oldpassword" id="edit-old-password" type="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-password"><i class="icon-lock"></i> <b>Password</b></label>
                                                <input class="form-control text-center" ng-model="ctrl.newpassword" id="edit-password" type="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="edit-password2"><i class="icon-lock"></i> <b>Re-enter Password</b></label>
                                                <input class="form-control text-center" ng-model="ctrl.reNewPassword" id="edit-password2" type="password">
                                            </div>
                                        </form>
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <button type="submit" ng-click="ctrl.changePasswordRequest()" class="btn pull-right">Submit New Password</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>