<div class="section" ng-controller="FindCtrl as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <input type="text" class="form-control" placeholder="Search Professor" ng-model="query">
                <br>

                <ul id="findprofessor" ng-repeat="prof in professors | filter:query">

                    <img ng-src={{prof.path}}>
                    <li>Username: {{prof.username}}</li>
                    <li>Name: {{prof.firstname}}</li>
                    <li>Last Name: {{prof.lastname}}</li>
                    <li>E-mail: {{prof.email}}</li>
                    <li>Website: {{prof.website}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>