<!--<div ng-controller="LoginCtrl as ctrl">
    <form action="">
        User Name: <input ng-model="ctrl.username" type="text"><br>
        Password: <input ng-model="ctrl.password" type="text"><br>
        <span>{{ctrl.username}} - {{ctrl.password}}<span>
        <input ng-click="ctrl.login()" type="submit" value="Submit">
    </form>
</div>
-->
<div class="section" ng-controller="LoginCtrl as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="basic-login">
                    <form role="form" role="form">
                        <div class="form-group">
                            <label for="login-username"><i class="icon-user"></i> <b>Username or Email</b></label>
                            <input class="form-control" id="login-username" ng-model="ctrl.username" type="text" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="login-password"><i class="icon-lock"></i> <b>Password</b></label>
                            <input class="form-control" id="login-password" ng-model="ctrl.password" type="password" placeholder="">
                        </div>
                        <div class="form-group">
                            <label class="checkbox">
                                <input type="checkbox"> Remember me
                            </label>
                            <a href="page-password-reset.html" class="forgot-password">Forgot password?</a>
                            <button ng-click="ctrl.login()" type="submit" class="btn pull-right">Login</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>