<div class="section" ng-controller="ProfessorProfileCtrl as ctrl">
	<div  class="author-photo  container">
		<div class="container col-md-4"></div>
		<div class = "circular col-md-2" style = 'background-image: url("resources/img/profile/Masoud_milani.jpg")'></div>
		<div class = "container col-md-4">
			<h1 ng-bind="ctrl.user.firstname + ' ' + ctrl.user.lastname"></h1>
			<h3 ng-bind="ctrl.user.email"></h3>
			<h4>Professor <div class="app-btn app-{{ctrl.verified?'green':'red'}} small-text" style="text-align: center">{{ctrl.verified?'verified':'not-verified'}}</div></h4>
			<a ng-click="ctrl.editProfile()" href="" class="btn" width=2%>edit profile</a>
		</div>
        <div class="col-lg-1"></div>
	</div>
	<div class="container">
		<h2>Comments ({{ctrl.comments.length}})</h2>
			<!-- Comments -->
		<div class="post-coments">
			<ul class="post-comments">
                <li ng-repeat="comment in ctrl.comments.showing">
                    <div class="comment-wrapper">
                        <div class="comment-author"><img ng-src="{{comment.from.profileimg==null?'resources/img/profile/blank-profile.png':comment.from.profileimg}}" alt="User Name">{{comment.from.firstname + " "+comment.from.lastname}}</div>
                        <p class="section-white text-center">
                            {{comment.content}}
                            <br><img ng-show="comment.imageurl!=null" width=225dpi height=250dpi ng-src="{{comment.imageurl==null?'resources/img/user2.jpg':comment.imageurl}}"/>
                        </p>
                        <!-- Comment Controls -->
                        <div class="comment-actions">
                            <span class="comment-date">{{ctrl.dateToString(comment.time)}}</span>
                            <button ng-hide="comment.reported" ng-click="ctrl.report(comment)" class="label label-danger">Report</button>
                        </div>
                    </div>
                </li>
            </ul>
		</div>
	</div>
	<!-- Pagination -->
		<div class="pagination-wrapper ">
			<ul class="pagination pagination-sm">
				<li ng-click="ctrl.pagination.previous()" class="{{ctrl.pagination.hasPrevious()?'':'disabled'}}"><a href="">Previous</a></li>
				<li ng-repeat="page in ctrl.pagination.pages" class="{{ctrl.pagination.currPage===page?'active':''}}">
                    <a href="" ng-click="ctrl.pagination.setPage(page)">{{page}}</a>
                </li>
				<li ng-click="ctrl.pagination.next()" class="{{ctrl.pagination.hasNext()?'':'disabled'}}"><a href="">Next</a></li>
			</ul>
		</div>
</div>