<!--<div ng-controller="LoginCtrl as ctrl">
    <form action="">
        User Name: <input ng-model="ctrl.username" type="text"><br>
        Password: <input ng-model="ctrl.password" type="text"><br>
        <span>{{ctrl.username}} - {{ctrl.password}}<span>
        <input ng-click="ctrl.login()" type="submit" value="Submit">
    </form>
</div>
-->
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Register</h1>
            </div>
        </div>
    </div>
</div>
<div class="section" ng-controller="RegisterCtrl as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="basic-login">
                    <form name="signup_form" role="form" novalidate ng-submit="ctrl.register()">
                        <div class="form-group">
                            <label for="register-username"><i class="icon-user"></i> <b>Username</b></label>
                            <input class="form-control" name ="username" id="register-username" ng-keyup="ctrl.keyPressed()" ng-model="ctrl.username" ng-maxlength=20 ng-minlength=3 type="text" required placeholder="">
                            <div class="error" style="color: red" 
                                 ng-show="signup_form.username.$dirty && signup_form.username.$invalid">
                                <small class="error" style="color: red" 
                                       ng-show="signup_form.username.$error.required">
                                    Your username is required.
                                </small>
                                <small class="error" style="color: red" 
                                       ng-show="signup_form.username.$error.minlength">
                                    Your username is required to be at least 3 characters
                                </small>
                                <small class="error" style="color: red" 
                                       ng-show="signup_form.username.$error.maxlength">
                                    Your username cannot be longer than 20 characters
                                </small>
                            </div>
                            <div class="error" style="color: red" 
                                 ng-show="signup_form.username.$dirty && signup_form.username.$valid">
                                <small class="error" style="color: red" 
                                       ng-show="ctrl.usrErrorMsg">
                                    Username Already Exists
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="register-fname"><i class="icon-user"></i> <b>First Name</b></label>
                                <input class="form-control" name ="fname" id="register-fname" ng-keyup="ctrl.keyPressed()" ng-model="ctrl.fname" ng-maxlength=30 ng-minlength=1 type="text" required placeholder="">
                                <div class="error" style="color: red" 
                                     ng-show="signup_form.fname.$dirty && signup_form.fname.$invalid">
                                    <small class="error" style="color: red" 
                                           ng-show="signup_form.fname.$error.required">
                                        Your name is required.
                                    </small>
                                    <small class="error" style="color: red" 
                                           ng-show="signup_form.fname.$error.maxlength">
                                        Your name cannot be longer than 20 characters
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register-lname"><i class="icon-user"></i> <b>Last Name</b></label>
                                <input class="form-control" name ="lname" id="register-lname" ng-keyup="ctrl.keyPressed()" ng-model="ctrl.lname" ng-maxlength=30 ng-minlength=1 type="text" required placeholder="">
                                <div class="error" style="color: red" 
                                     ng-show="signup_form.lname.$dirty && signup_form.lname.$invalid">
                                    <small class="error" style="color: red" 
                                           ng-show="signup_form.lname.$error.required">
                                        Your last name is required.
                                    </small>
                                    <small class="error" style="color: red" 
                                           ng-show="signup_form.lname.$error.maxlength">
                                        Your last name cannot be longer than 20 characters
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="register-email"><i class="icon-user"></i> <b>Email</b></label>
                                <input class="form-control" name="email" id="register-email" ng-model="ctrl.email" ng-maxlength=20 ng-minlength=3 required type="email" placeholder="">
                                <div class="error-container" 
                                     ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
                                    <small class="error " style="color: red" 
                                           ng-show="signup_form.email.$error.required">
                                        Your email is required.
                                    </small>
                                    <small class="error" style="color: red" 
                                           ng-show="signup_form.email.$error.minlength">
                                        Your email is required to be at least 3 characters
                                    </small>
                                    <small class="error" style="color: red" 
                                           ng-show="signup_form.email.$error.email">
                                        That is not a valid email. Please input a valid email.
                                    </small>
                                    <small class="error" style="color: red" 
                                           ng-show="signup_form.email.$error.maxlength">
                                        Your email cannot be longer than 20 characters
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="register-password"><i class="icon-lock"></i> <b>Password</b></label>
                                <input class="form-control" id="register-password" ng-model="ctrl.password"  type="password" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="register-password2"><i class="icon-lock"></i> <b>Re-enter Password</b></label>
                                <input class="form-control" id="register-password2" ng-model="ctrl.repassword"  type="password"  placeholder="">
                            </div>
                            <div class="form-group checkbox">
                                <label><input type="checkbox" ng-model ="ctrl.userType" value="">Professor</label>
                            </div>
                            <div class="form-group">
                                <button type="submit" ng-disabled="signup_form.$invalid" class="btn pull-right">Register</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>