<div class="section" ng-controller="visitorProfileController as ctrl">
    <div  class="author-photo  container">
        <div class="container col-md-4"></div>
        <div class = "circular col-md-2" style = 'background-image: url("resources/img/profile/Masoud_milani.jpg")'></div>
        <div class = "container col-md-4">
            <h1 ng-bind="ctrl.profileFName + ' ' +ctrl.profileLName"></h1>
            <h3 ng-bind="ctrl.profileEmail"></h3>
            <h4 ng-bind="ctrl.profileType"></h4>
            <div ng-show ="professorVerified" class="col-lg-4 app-btn app-green" style="text-align: center">verified</div>
        </div>
    </div>
    <div class="container" ng-show="!ctrl.professorProfile">
        <h2>Recently Adopted Professors</h2>
        <div class="row">
            <!-- Testimonial -->
            <div ng-repeat="comment in ctrl.comments | limitTo: 3" class="testimonial col-md-4 col-sm-6">
                <!-- Author Photo -->
                <div class="author-photo">
                    <img ng-src="{{comment.from.profileimg==null?'resources/img/profile/blank-profile.png':comment.from.profileimg}}"/>
                </div>
                <div class="testimonial-bubble">
                    <blockquote>
                        <!-- Quote -->
                        <p class="quote">
                            {{comment.content}}
                            <br><img ng-show="comment.imageurl!=null" width=225dpi height=250dpi ng-src="{{comment.imageurl==null?'resources/img/user2.jpg':comment.imageurl}}"/>
                        </p>
                    </blockquote>
                    <div class="sprite arrow-speech-bubble"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2>Comments ({{ctrl.comments.length}})</h2>
        <br>
        <div class="post-coments">
            <ul class="post-comments">
                <li ng-repeat="comment in ctrl.comments.showing">
                    <div class="comment-wrapper">
                        <div class="comment-author"><img ng-src="{{comment.from.profileimg==null?'resources/img/profile/blank-profile.png':comment.from.profileimg}}" alt="User Name">{{comment.from.firstname + " "+comment.from.lastname}}</div>
                        <p class="section-white text-center">
                            {{comment.content}}
                            <br><img ng-show="comment.imageurl!=null" width=225dpi height=250dpi ng-src="{{comment.imageurl==null?'resources/img/user2.jpg':comment.imageurl}}"/>
                        </p>
                        <!-- Comment Controls -->
                        <div class="comment-actions">
                            <span class="comment-date">{{ctrl.dateToString(comment.time)}}</span>
                            <button ng-hide="comment.reported" ng-click="ctrl.report(comment)" class="label label-danger">Report</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Pagination -->
        <div class="pagination-wrapper ">
            <ul class="pagination pagination-sm">
                <li ng-click="ctrl.pagination.previous()" class="{{ctrl.pagination.hasPrevious()?'':'disabled'}}"><a href="">Previous</a></li>
                <li ng-repeat="page in ctrl.pagination.pages" class="{{ctrl.pagination.currPage===page?'active':''}}">
                    <a href="" ng-click="ctrl.pagination.setPage(page)">{{page}}</a>
                </li>
                <li ng-click="ctrl.pagination.next()" class="{{ctrl.pagination.hasNext()?'':'disabled'}}"><a href="">Next</a></li>
            </ul>
        </div>
    </div>
    <div class="container" ng-show="ctrl.professorProfile">
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-offset-3">
                        <!-- Contact Form -->
                        <h3>add comment</h3>
                        <div class="contact-form-wrapper">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <!--<label for="contact-message" class="col-sm-3 control-label"><b></b></label>-->
                                    <div class="col-sm-12 myTextArea" contentEditable="true">
                                            <img src="" id="myImg" />
                                        <!--<textarea class="form-control" rows="5" id="contact-message"></textarea>-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <span class="btn btn-default btn-file">Attach Image <input ng-file-select="onFileSelect($files)" type="file" accept=".png,.jpg"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="submit" ng-click="ctrl.uploadImg()" class="btn pull-right">add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Contact Info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>